<app-navbar></app-navbar>
<div class='container-fluid'>
    <div class='row page_a_block'>
        <div class="col-md-12">
            <app-page-a></app-page-a>
        </div>
    </div>
    <div class='row page_b_block'>
        <div class="col-md-12">
            <app-page-b></app-page-b>
        </div>
    </div>
    <div class='row page_c_block'>
        <div class="col-md-12">
            <app-page-c></app-page-c>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>